﻿body h1 {
    background-color: aqua;
}

body.top-bar {
    background-color: white;
}

    body .top-bar .main-bar {
        width: 80%;
        background-color: wheat;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body.top-bar.main-bar.contact-left {
            flex-grow: 4;
            background-color: royalblue;
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        body.top-bar.main-bar.login-right {
            flex-grow: 2;
            background-color: blue;
            display: flex;
            justify-content: flex-start;
            gap: 5px;
        }
